<app-navbar></app-navbar>

<div class="container-fluid p-0 split-color-container indigo-theme">
  <div class="split-top-color bg-theme-secondary-darker"></div>
</div>

<div class="container content-container p-0 indigo-theme" *ngIf="userInfo && authState">

  <!-- Spacer div -->
  <div class="row" style="margin-top: 3rem"></div>

  <div class="row m-0 p-0">
    <div class="col text-center">
      <h2 class="white-text font-weight-bold">Settings</h2>
    </div>
  </div>

  <!-- Spacer div -->
  <div class="row" style="margin-top: 3rem"></div>

  <div class="row m-0 mt-4">
    <div class="col m-0 p-0">
      <mat-card class="diffused-shadow">
        <mat-card-header>
          <h3 class="blue-text font-400">Personal Information</h3>
        </mat-card-header>

        <mat-card-content>
          <div class="row m-0 p-0">
            <div class="col-sm-12 col-md-6 align-self-center">
              <span class="field-label">Name</span>
            </div>
            <div class="col-sm-12 col-md-6 align-self-center">
              <mat-form-field class="w-100">
                <input type="text" matInput class="input-style-cancel" [ngModel]="userInfo.fullName" (ngModelChange)="fullnameChanged($event)" (input)="showNameProgress='true'" name="userInfo">
                <mat-spinner matSuffix diameter="25" strokeWidth="2" color="accent" *ngIf="showNameProgress"></mat-spinner>
              </mat-form-field>
            </div>
          </div>

          <div class="row m-0 p-0">
            <div class="col">
              <hr>
            </div>
          </div>

          <div class="row m-0 p-0">
            <div class="col-sm-12 col-md-6 align-self-center">
              <span class="field-label">Email</span>
            </div>
            <div class="col-sm-12 col-md-6 align-self-center">
              <mat-form-field class="w-100">
                <input type="text" matInput class="input-style-cancel" disabled="true" [(ngModel)]="authState.email" name="authState">
                <button mat-icon-button matSuffix (click)="updateEmail()">
                  <mat-icon>settings</mat-icon>
                </button>
              </mat-form-field>
            </div>
          </div>


        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <!-- Spacer on desktop, invisible on mobile -->
  <div class="row p-0 m-0 mt-4 mb-4 hidden-sm-down"></div>

  <div class="row m-0">
    <div class="col m-0 p-0">
      <mat-card class="diffused-shadow">
        <mat-card-header>
          <h3 class="blue-text font-400">Account Settings</h3>
        </mat-card-header>

        <mat-card-content>
          <div class="row m-0 p-0">
            <div class="col-sm-12 col-md-6 pt-2 pb-2 align-self-center">
              <span class="field-label">Password</span>
            </div>
            <div class="col-sm-12 col-md-6 pt-2 pb-2 align-self-center">
              <button mat-button color="primary" (click)="changePassword()">
                <mat-icon>lock</mat-icon>
                <span>CHANGE PASSWORD</span>
              </button>
            </div>
          </div>

          <div class="row m-0 p-0">
            <div class="col">
              <hr>
            </div>
          </div>

          <div class="row m-0 p-0">
            <div class="col-sm-12 col-md-6 pt-2 pb-2 align-self-center">
              <span class="field-label">Instructor Mode</span>
            </div>
            <div class="col-sm-12 col-md-6 pt-2 pb-2 align-self-center">
              <mat-checkbox [(ngModel)]="userInfo.isInstructor" color="accent" class="ml-3">
              </mat-checkbox>
            </div>
          </div>

          <div class="row m-0 p-0">
            <div class="col">
              <hr>
            </div>
          </div>

          <div class="row m-0 p-0">
            <div class="col-sm-12 col-md-6 pt-2 pb-2 align-self-center">
              <span class="field-label">Delete Account</span>
            </div>
            <div class="col-sm-12 col-md-6 pt-2 pb-2 align-self-center">
              <button mat-button color="warn" (click)="testDialog()">
                <mat-icon>delete_forever</mat-icon>
                <span>DELETE ACCOUNT</span>
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <!-- Spacer on desktop, invisible on mobile -->
  <div class="row p-0 m-0 mt-4 mb-4 hidden-sm-down" *ngIf="userInfo.courses"></div>

  <div class="row m-0" *ngIf="userInfo.courses">
    <div class="col m-0 p-0">
      <mat-card class="diffused-shadow">
        <mat-card-header>
          <h3 class="blue-text font-400">Course Settings</h3>
        </mat-card-header>

        <mat-card-content>
          <mat-list>
            <mat-list-item *ngFor="let course of myCourses" class="course-item">
              <mat-icon mat-list-icon *ngIf="course.instructor == userInfo.UID" class="dark-grey-text">star</mat-icon>
              <mat-icon mat-list-icon *ngIf="course.instructor != userInfo.UID" class="dark-grey-text">assignment</mat-icon>
              <h3 mat-line>{{course.title}}</h3>
              <p mat-line class="grey-text">ID: {{course.id}}</p>
              <button mat-icon-button color="warn" (click)="removeCourse(course)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <!-- Spacer on desktop, invisible on mobile -->
  <div class="row p-0 m-0 mt-4 mb-4 hidden-sm-down"></div>
</div>