<!-- From stackoverflow post
https://stackoverflow.com/questions/38209713/how-to-make-a-responsive-nav-bar-using-angular-material-2
 -->

<mat-toolbar class="bg-white" style="height: 50px">

  <button mat-icon-button (click)="leftSidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <button mat-button routerLink="/" class="ml-1">
    <mat-icon>home</mat-icon>
    <span>VYDEN</span>
  </button>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
  <div fxLayout="row">
    <app-username *ngIf="userInfo" [username]="userInfo.fullName" class="mr-2"></app-username>
    <button mat-button [mat-menu-trigger-for]="thememenu" fxHide="false" fxHide.lt-sm>
      <span>Test Themes</span>
    </button>
    <button mat-button [mat-menu-trigger-for]="menu">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <!-- <button mat-button (click)="sidenav.open()" fxHide="false" fxHide.gt-sm>
    <span>Mobile View</span>
    <mat-icon>menu</mat-icon>
  </button> -->

</mat-toolbar>
<div [ngClass]="themeClass">
    <div class="gradient-border"></div>
</div>

<mat-menu x-position="before" #menu="matMenu">
  <div *ngIf="userInfo">
      <button *ngIf="userInfo.isInstructor" mat-menu-item routerLink="/editor">
        <mat-icon>add_circle</mat-icon>
        <span>Create Lecture</span>
      </button>
      <button *ngIf="userInfo.isInstructor" mat-menu-item (click)="openDialog()">
        <mat-icon>add_to_photos</mat-icon>
        <span>Create Course</span>
      </button>
      <button mat-menu-item routerLink="/settings">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
  </div>
  
</mat-menu>

<mat-menu #thememenu="matMenu">
  <button mat-menu-item *ngFor="let themeColor of themeColors" (click)="changeTheme(themeColor)">{{themeColor}}</button>
</mat-menu>