.fill-remaining-space {
    /*This fills the remaining space, by using flexbox.  
   Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.gradient-border {
    height: 5px;
    width: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00bcd4+0,00bcd4+70,4caf50+100 */
}