<!-- From stackoverflow post
https://stackoverflow.com/questions/38209713/how-to-make-a-responsive-nav-bar-using-angular-material-2
 -->

<mat-toolbar style="height: 50px">

  <button mat-icon-button (click)="leftSidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <button mat-button routerLink="/" class="ml-1">
    <mat-icon>home</mat-icon>
    <span>VYDEN</span>
  </button>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
  <div fxLayout="row">
    <app-username [username]="'Big Shaq'" class="mr-2"></app-username>
    <button mat-button [mat-menu-trigger-for]="menu">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <!-- <button mat-button (click)="sidenav.open()" fxHide="false" fxHide.gt-sm>
    <span>Mobile View</span>
    <mat-icon>menu</mat-icon>
  </button> -->

</mat-toolbar>
<div [ngClass]="themeClass">
    <div class="gradient-border"></div>
</div>

<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>add_circle</mat-icon>
    <span>Create Lecture</span>
  </button>
  <button mat-menu-item>
    <mat-icon>settings</mat-icon>
    <span>Settings</span>
  </button>
</mat-menu>