<div class="container p-0">
  <mat-card [ngClass]="themeClass" class="p-0 mat-elevation-z6">
    <div class="row m-0 bg-theme-secondary">
      <div class="col">

        <div class="row m-0">
          <div class="col justify-content-center">
            <h2 class="white-text text-center mt-4 mb-1">TITLE</h2>
          </div>
        </div>

        <div class="row p-4 m-0 justify-content-center white-text bg-admin">
          <input class="exp-input" #filter placeholder="filter content">
        </div>

        <div class="row m-0">
          <div class="col">
            <hr>
          </div>
        </div>

        <div class="row m-0 pb-3">
          <div class="col-4 text-center">
            <button mat-button class="white-text">BUTTON 1</button>
          </div>
          <div class="col-4 text-center">
            <button mat-button class="white-text">BUTTON 2</button>
          </div>
          <div class="col-4 text-center">
            <button mat-button class="white-text">BUTTON 3</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row m-0">
      <div class="col m-0">
        <div style="margin-top: 400px"></div>
        <h3 class="text-center">CARD CONTENT</h3>
        <div style="margin-bottom: 400px"></div>
      </div>
    </div>
  </mat-card>
</div>