.full-height {
    height: calc(100vh - 55px);
}

.sidenav {
    max-width: 400px;
    width: 80vw;
    min-width: 250px;
}

.bg-color-split {
    position: absolute;
    z-index: 10;
    width: 100%;
}

.top-color {
    height: 300px;
    width: 100%;
    background-color: #263238;
}

.content-container {
    position: relative;
    z-index: 10;
}

.card-scroll {
    overflow-y: scroll;
}