<app-navbar></app-navbar>

<mat-drawer-container [ngClass]="themeClass" class="full-height">
  <!-- Nav Content -->
  <mat-drawer #sidenav class="sidenav" [mode]="sidenavMode">
    <app-sidenav-content></app-sidenav-content>
  </mat-drawer>

  <!-- Main Content -->
  <mat-drawer-content class="bg-light-grey justify-content-center">
    <div class="bg-color-split full-height">
      <div class="top-color bg-theme-secondary-darker"></div>
    </div>
    <div class="container-fluid pt-3 pb-3 content-container card-scroll full-height">
      <div class="row p-0">
        <div class="col p-2 m-0">
          <!--<app-card-boilerplate></app-card-boilerplate>-->
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>

  </mat-drawer-content>
</mat-drawer-container>