.no-shadow {
    box-shadow: none !important;
}

.font-400 {
    font-weight: 400;
}

.danger-message {
    background-color: #ffebee;
    border-radius: 0.2em;
}

.info-message {
    background-color: #E0F7FA;
    border-radius: 0.2em;
}