<div *ngFor="let lecture of lectures">
  <!-- Lecture header -->
  <mat-expansion-panel class="mb-2">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ lecture['title'] }}
      </mat-panel-title>
      <mat-panel-description>
        {{ lecture['date'] }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <!-- Quiz body -->
    <div *ngFor="let quizResponse of quizResponses">
      <div *ngFor="let quiz of quizResponse['_value']">
        <mat-expansion-panel class="background-bluegrey">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ quiz['quiz'] }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>These are the answer choices with the correct answer highlighted</p>
        </mat-expansion-panel>
      </div>
    </div>

  </mat-expansion-panel>
</div>