<div class="row">
    <div class="col text-center">
      <p class="title">Create Announcement</p>
    </div>
</div>

<form class="example-form">
  <div class="row">
    <div class="col text-center">
        <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Title"
            name="title"
            [(ngModel)]="announcementOptions.title"></textarea>
        </mat-form-field>
       
    </div>
  </div>

  <div class="row">
    <div class="col text-center">
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Description"
        name="description"
        [(ngModel)]="announcementOptions.description"></textarea>
    </mat-form-field>
    <div class="row">
      <div class="col text-center">
        <mat-slide-toggle  [(ngModel)]="announcementOptions.checkPost" name="togglePost">Pin Post</mat-slide-toggle>  
      </div>
    </div>
    </div>
  </div>
  
</form>

<div class="row">
    <div class="col text-center">
        <button mat-raised-button type="button" md-raised-button 
        (click)="clickCreate()">Create
      </button>
      <button mat-raised-button type="button" md-button 
        (click)="dialogRef.close()">Close
      </button>
    </div>
</div>