<!-- sidebar header -->
<mat-toolbar color="primary" id="sidenav-header" [ngClass]="themeClass">
	<span class="example-fill-remaining-space"></span>

	<h2 class="header-title">COURSES</h2>

	<button mat-icon-button class="bg-theme-secondary ">
		<mat-icon>add</mat-icon>
	</button>
</mat-toolbar>

<!-- sidebar body -->
<section id="sidenav-body" [ngClass]="themeClass">
  <div class="row m-3" *ngFor="let class of sampleClasses; let i = index">
    <div class="col">
      <button mat-raised-button [ngStyle]="{'background': getButtonColor(i)}" class="class-button white-text text-left">
        <mat-icon class="mr-2">class</mat-icon>
        {{ class }}
      </button>
    </div>
  </div>
</section>