#sidenav-header {
  height: 60px;
  display: flex;
  justify-content: space-between;
}

#sidenav-body {
  text-align: center;
}

.header-title {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 2rem;
}

.class-button {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.hide-element {
  display: none;
}