<!-- sidebar body -->
<section id="sidenav-body" class="mt-3" [ngClass]="themeClass">

    <div  *ngIf="sampleClasses.length > 0; else noClassesText">
      <div class="row m-3" *ngFor="let class of sampleClasses; let i = index">
        <div class="col">
          <button
            data-id="{{i}}"
            mat-raised-button
            [ngStyle]="{'background': getButtonColor(i)}"
            class="class-button white-text text-left"
            (click)="navigateToCourse(i)">
            <mat-icon class="mr-2">class</mat-icon>
            {{ class }}
          </button>
        </div>
      </div>
    </div>

    <ng-template #noClassesText>
      <span class="font-weight-normal font-italic">You are not enrolled in any classes.</span>
    </ng-template>

  </section>