.class-button {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

button {
  color: black !important;
  transition: 0.25s ease-in-out;
}
button:hover {
  color: white !important;
}

.mat-button.no-hover ::ng-deep .mat-button-focus-overlay {
  background: none;
}