.body{
    margin: 0;
    padding: 0;
}
.topHalf {
    height: 95vh;
    /*background-color: #00BCD4;*/
    background-image: url("../../../assets/img/nightSkyFinal.png");
    background-size: cover;
    border: none;
}

// .secondLayer {
//     height: 60vh;
// }
.secondLayer img{
    width: 100%;
    height: 100%;
}

.logoBox {
    position: relative;
    height: 50vh;
}

.logoBox img {
    position: absolute;
    left: 0;
    bottom: 50%;
}

label {
    color: white;
    display: inline-block;
    width: 90px;
    text-align: right;
    text-decoration-color: white;
    padding-right: 10px
}

input {
    border: 1px solid #999;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border-color: white;
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
}

input:focus,
textarea:focus {
    border-color: #000
}


.mycontainer{
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

.myslider{
    position: relative;
    width: 300%;
    animation: animate 15s linear infinite;
}

.myslide{
    position: relative;
    width: 33.33%;
    float: left;
    height: 90vh;
}

// .myslide{
//     background-size: contain;
// }

.myslide:nth-child(1){
    background: url(../../../assets/img/svg/world.svg);
    background-size: cover;
}

.myslide:nth-child(2) {
    background: url(../../../assets/img/svg/3DImageBackground.svg);
    background-size: cover;
}

.myslide:nth-child(3) {
    background: url(../../../assets/img/svg/Screen.svg);
    background-size: cover;
}

@keyframes animate{
    0%{
        left: 0;
    }
    30% {
        left: 0;
    }
    33% {
        left: -100%;
    }
    63% {
        left: -100%;
    }
    66% {
        left: -200%;
    }
    96% {
        left: -200%;
    }
    100% {
        left: 0;
    }
}