<div class="container-fluid p-0">
  <div class="row topHalf">
    <div class="col-sm-4"></div>
    <div class="col-sm-5">
      <div class="row logoBox">
        <img class="img-fluid logoIMG" src="assets/img/svg/vydenLogoAndName.svg" />
      </div>

      <div class="row textBoxes">
        <form action="" method="post">
          <div class="row emailRow ml-3">
            <label for="emailAddress">Email:</label>
            <input type="email" id="emailAddress" name="email" [(ngModel)]="email">
          </div>
          <div class="row passwordRow mt-1 ml-3">
            <label for="pWord">Password:</label>
            <input type="password" id="pWord" name="password" [(ngModel)]="password">
          </div>
          <div class="row submitRow mt-3">
            <div class="col-sm-3"></div>
            <div class="col-sm-3 ">
              <button class="btn btn-deep-purple waves-light white-text ml-4" role="button" (click)="loginUser()">Login</button>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
              <button routerLink="/register" class="btn btn-deep-purple waves-light white-text ml-2" role="button">Register</button>
            </div>

          </div>
        </form>
      </div>
    </div>
    <div class="col-sm-3"></div>
  </div>

  <!-- <div class="row secondLayer">
    <img src="assets/img/svg/underOcean.svg">
  </div> -->

  <div class="mycontainer">
    <div class="myslider">
        <div class="myslide">
            
        </div>
        <div class="myslide">
            
        </div>
        <div class="myslide">
            
        </div>
    </div>
  </div>
</div>