.body{
    margin: 0;
    padding: 0;
}
.topHalf {
    height: 99vh;
    background-image: url("../../../assets/img/nightSkyFinal.png");
    background-size: cover;
    border: none;
}

.secondLayer img{
    width: 100%;
    height: 100%;
}

.logoBox {
    position: relative;
    height: 50vh;
}

.logoBox img {
    position: absolute;
    left: 0;
    bottom: 50%;
}

.transparent-bg {
    background-color: rgba($color: white, $alpha: 0.2) !important;
    margin: 0 auto;
}

.mat-card {
    border-radius: 5px;
}

#pWord {
    border-bottom: none;
}

input[type=password]:focus {
    border-bottom: none;
    box-shadow: 0 0 0 0 white;
    color: white;
}

input[name=email]:focus {
    border-bottom: none;
    box-shadow: 0 0 0 0 white;
    color: white;
}

::placeholder {
    color: white;
}

::-webkit-input-placeholder {
    color: white;
}


#emailAddress:-webkit-input-placeholder {
    color: white;
}

.mycontainer{
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

.myslider{
    position: relative;
    width: 300%;
    animation: animate 15s linear infinite;
}

.myslide{
    position: relative;
    width: 33.33%;
    float: left;
    height: 90vh;
}


.myslide:nth-child(1){
    background: url(../../../assets/img/svg/world.svg);
    background-size: cover;
}

.myslide:nth-child(2) {
    background: url(../../../assets/img/svg/3DImageBackground.svg);
    background-size: cover;
}

.myslide:nth-child(3) {
    background: url(../../../assets/img/svg/Screen.svg);
    background-size: cover;
}



@keyframes animate{
    0%{
        left: 0;
    }
    30% {
        left: 0;
    }
    33% {
        left: -100%;
    }
    63% {
        left: -100%;
    }
    66% {
        left: -200%;
    }
    96% {
        left: -200%;
    }
    100% {
        left: 0;
    }
}