<div class="container-fluid p-0">
  <div class="row topHalf">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <div class="row logoBox">
        <img class="img-fluid logoIMG" src="assets/img/svg/vydenLogoWithName.svg" />
      </div>

      <div class="row textBoxes">
        <mat-card class="transparent-bg">
          <mat-card-content class="p-3">
              <form action="" method="post">
                  <div class="row emailRow">
        
                    <mat-form-field class="example-full-width w-100">
                        <input matInput id="emailAddress" name="email" placeholder="Email" [(ngModel)]="email">
                      </mat-form-field>
        
                  </div>
                  <div class="row passwordRow mt-1">
        
                    <mat-form-field class="example-full-width w-100">
                        <input matInput type="password" id="pWord" name="password" placeholder="password" [(ngModel)]="password">
                      </mat-form-field>
        
                  </div>
                  <div class="row submitRow mt-3">
                    <div class="col-6 text-center">
                      <button class="btn btn-deep-purple waves-light white-text" role="button" (click)="loginUser()">Login</button>
                    </div>
                    <div class="col-6 text-center">
                      <button routerLink="/register" class="btn btn-deep-purple waves-light white-text" role="button">Register</button>
                    </div>
        
                  </div>
                </form>
          </mat-card-content>
        </mat-card>
        
      </div>
    </div>
    <div class="col-sm-4"></div>
  </div>

  <!-- <div class="row secondLayer">
    <img src="assets/img/svg/underOcean.svg">
  </div> -->

  <div class="mycontainer">
    <div class="myslider">
        <div class="myslide">
            
        </div>
        <div class="myslide">
            
        </div>
        <div class="myslide">
            
        </div>
    </div>
  </div>
</div>