<!-- sidebar header -->
<div *ngIf="defaultHeader; else classInput">
  <mat-toolbar color="primary" id="sidenav-header" [ngClass]="themeClass">
    <span class="example-fill-remaining-space"></span>
    <h2 class="header-title"  [@enterAnimation] [ngClass]="{'transition':!defaultHeader}">COURSES</h2>
    <button mat-icon-button
                class="bg-theme-secondary"
                (click)="toggleHeaderContent()"
                [@enterAnimation]
                (mouseenter)="hover = true"
                (mouseleave)="hover = false"
                [ngClass]="hover ? 'bg-theme-secondary-darker': 'bg-theme-secondary'">
      <mat-icon>add</mat-icon>
    </button>
  </mat-toolbar>
</div>

<!-- Class input -->
<ng-template #classInput >
  <mat-toolbar class="p-2" color="primary" id="sidenav-header-input" [ngClass]="themeClass">
    <form  action=""
              class="row rounded mat-elevation-z1"
              id="header-input-form"
              [@enterAnimation]
              (keypress)="isEnter($event)">
            <button mat-icon-button class="col-1 rounded p-0 min-width-50" (click)="toggleHeaderContent()">
                <mat-icon class="black-text">arrow_back</mat-icon>
            </button>
            <div class="col black-text p-0">
                <input id="class-code-input" type="text" class="input-alternate p-0" placeholder="Enter class code..."/>
            </div>
            <button mat-icon-button
                type="submit"
                form="header-input-form"
                class="col-1 rounded p-0 min-width-50"
                (click)="addCourse()">
                <mat-icon class="black-text">add</mat-icon>
            </button>
    </form>
  </mat-toolbar>
</ng-template>