.header-title {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 2rem;
}

.min-width-50 {
  min-width: 50px !important;
}

#sidenav-header {
  height: 60px;
  display: flex;
  justify-content: space-between;
}

#sidenav-header-input {
  height: 60px;
  display: flex;
  justify-content: center;
}

#header-input-form {
  background: white;
  width: 100%;
  transition: opacity 0.25s ease-in-out;
}

#class-code-input {
  box-shadow:  none !important;
  -webkit-box-shadow: none !important;
}