<div class="container p-0">
  <mat-card [ngClass]="themeClass" class="p-0 mat-elevation-z6">
    <div class="row m-0 bg-theme-secondary">
      <div class="col">

        <div class="row m-0">
          <div class="col justify-content-center">
            <h2 class="white-text text-center mt-4 mb-1">TITLE</h2>
          </div>
        </div>

        <div class="row p-4 m-0 justify-content-center white-text bg-admin">
          <input class="exp-input" #filter placeholder="filter content">
        </div>

        <div class="row m-0">
          <div class="col">
            <hr>
          </div>
        </div>

        <div class="row justify-content-center m-0 pb-3">
          <div class="col-6 m-0 text-center">
            <button mat-button class="white-text" (click)="createQuestion()">
              <mat-icon>speaker_notes</mat-icon>
              <span>NEW QUESTION</span>
            </button>
          </div>
          <div class="col-6 m-0 text-center">
            <button mat-button class="white-text" (click)="createQuestion(true)">
              <mat-icon>event_note</mat-icon>
              <span>NEW NOTE</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="row m-0">
      <div class="col m-0 pt-2 pb-4">

        <!-- Question Builder -->
        <div class="row post-row m-0 mt-2" *ngIf="buildQuestion">
          <div class="col-12 p-3 m-0">
            <mat-form-field class="input-style-cancel w-100">
              <input matInput placeholder="Post Name" [(ngModel)]="buildQuestion.title">
            </mat-form-field>
            <hr>
          </div>

          <div class="col-12 p-3 m-0">
            <mat-form-field class="input-style-cancel w-100">
              <textarea matInput placeholder="Post content" [(ngModel)]="buildQuestion.text"></textarea>
            </mat-form-field>
          </div>

          <div class="col-12 p-3 m-0 text-right">
            <button mat-button (click)="postQuestion(buildQuestion)">
              <mat-icon>playlist_add</mat-icon>
              <span>POST</span>
            </button>

            <button mat-button class="ml-1" color="warn" (click)="cancelQuestion()">
              <mat-icon>close</mat-icon>
              <span>CANCEL</span>
            </button>
          </div>
        </div>

        <ng-container *ngIf="userInfo && currentCourse">
          <!-- Forum Posts -->
          <div class="row m-0 mt-2 p-0" *ngFor="let forumPost of forumPosts">
            <mat-expansion-panel class="w-100">
              <mat-expansion-panel-header>
                <mat-panel-title style="font-weight: 400">
                  <mat-icon class="mr-2" *ngIf="!forumPost.isNote">question_answer</mat-icon>
                  <mat-icon class="mr-2" *ngIf="forumPost.isNote">message</mat-icon>
                  {{(forumPost.title.length>20)? (forumPost.title | slice:0:20)+'...':(forumPost.title)}}
                </mat-panel-title>
              </mat-expansion-panel-header>

              <div class="row m-0 p-0">
                <div class="col m-0 pl-3 align-self-center name-col" *ngIf="forumPost.author.fullName">
                  <app-username [username]="forumPost.author.fullName"></app-username>
                </div>

                <div class="col m-0 pr-3 align-self-center p-0 text-right">
                  {{getDate(forumPost.dateCreated)}}
                </div>
              </div>

              <div class="row m-0 mt-2 p-0">
                <div class="col m-0 p-0 pl-3 pr-3">
                  <p *ngIf="!isEditingQuestion || forumPost != editQuestion" style="font-weight: bold">{{forumPost.title}}</p>

                  <mat-form-field class="input-style-cancel w-100" *ngIf="isEditingQuestion && forumPost == editQuestion">
                    <input matInput placeholder="Post Name" [(ngModel)]="forumPost.title">
                  </mat-form-field>

                  <hr>
                </div>
              </div>

              <div class="row m-0 p-0">
                <div class="col m-0 p-3 text-left">
                  <p *ngIf="!isEditingQuestion || forumPost != editQuestion" [innerHTML]="parseLineBreaks(forumPost.text)"></p>

                  <mat-form-field class="input-style-cancel w-100" *ngIf="isEditingQuestion && forumPost == editQuestion">
                    <textarea matInput placeholder="Post content" [(ngModel)]="forumPost.text"></textarea>
                  </mat-form-field>
                </div>
              </div>

              <div class="row m-0 mb-2 p-0 w-100">
                <div class="col-12 m-0 p-0">
                  <hr>
                </div>

                <div class="col-12 text-right p-0 m-0">
                  <button mat-button class="mr-1" [disabled]="forumPost.author.UID !== userInfo.UID && currentCourse.instructor !== userInfo.UID"
                    (click)="editQuestionStart(forumPost)">
                    <mat-icon>mode_edit</mat-icon>
                    <span>EDIT</span>
                  </button>

                  <button mat-button class="mr-1" *ngIf="isEditingQuestion" (click)="editQuestionDone(forumPost)">
                    <mat-icon>check</mat-icon>
                    <span>DONE</span>
                  </button>

                  <button mat-button color="primary" *ngIf="!forumPost.isNote">
                    <mat-icon>reply</mat-icon>
                    <span>REPLY</span>
                  </button>

                </div>
                <div class="col-12 text-left p-0 pl-3 m-0" *ngIf="forumPost.dateModified && forumPost.editor">
                  <p class="grey-text">Last modified at {{getDate(forumPost.dateModified)}} by {{forumPost.editor.fullName}}</p>
                </div>
              </div>
            </mat-expansion-panel>
          </div>
        </ng-container>

      </div>
    </div>
  </mat-card>
</div>