.title-margin {
    margin-bottom: 25px;
}

.exp-input {
    min-width: 300px;
    width: 50%;
    padding: 8px;
    border-radius: 0.2em;
    background-color: white;
    opacity: 0.4;
    color: black;
    border: 0;
    outline: none;
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

input.exp-input {
    &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #2b2b2b;
        opacity: 1;
        /* Firefox */
    }
    &:focus::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #9E9E9E;
    }
}

.exp-input:focus {
    outline: none;
    background-color: #eeeeee;
    color: #222222;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    width: 80%;
    opacity: 1;
}

.classcontainer{
    background-color: #EDEDEE;
    min-height: 60vh;
    padding: 30px;
}

.classBound {
    position: relative;
    margin-bottom: 2vh;
    min-height: 180px;
}


.classcontainer .mat-card{
    // background-color: skyblue;
    position: absolute;
    width: 100%;
    height: 100%;
    // z-index: 2;
}

.hiddenLayer{
    // margin-bottom: 2vh;
    // min-height: 180px;
    position: absolute;
    width: 0;
    height: 100%;
    // background-color: gray;
    background: rgba(128, 128, 128, 0.5);
    transition: 0.3s ease-in;
    right: 0;
    // opacity: 0;
    visibility: hidden;
    z-index: 10;
}

.hiddenLayer.selected{
    width: 100%;
    
    visibility: visible;
    // opacity: 0.5;
    
    // transition: visibility 0s linear 0s, opacity 300ms;
}



.buttonContainer button{
    visibility: hidden;
    opacity: 0;
    transition: 0.1s ease-in;
    vertical-align: middle;
    color: white;
    background-color: #4EAD51;
}

.hiddenLayer.selected .buttonContainer button{
    visibility: visible;
    transition: 1.5s ease-in;
    opacity: 1;
}