<div class="container p-0">
  <mat-card [ngClass]="themeClass" class="p-0 mat-elevation-z6">
   
    <!-- div for upper box -->
    <div class="row m-0 bg-theme-secondary">
      <div class="col">
        <div class="row m-0">
          <div class="col-md-4 col-xs-12 text-center mt-4 mb-1">
          </div>
          <!-- div for title -->
          <div class="col-md-4 col-xs-12 justify-content-center">
            <h2 class="white-text text-center mt-4 mb-1">TITLE</h2>
          </div>
          <div class="col-md-4 col-xs-12 text-center">
            <button mat-raised-button class="create-button text-center mt-4 mb-1">Create announcement</button>
          </div>
        </div>
        <!-- div for search box -->
        <div class="row p-4 m-0 justify-content-center white-text bg-admin">
          <input class="exp-input" #filter placeholder="filter content">
        </div>
      </div>
    </div>

    <div class="row m-0">
      <div class="col m-0 p-0">
      <div class="classcontainer">
        <app-announcements-card></app-announcements-card>
      <!-- <app-lecture-card *ngIf="currentCourse"></app-lecture-card> -->
      </div>
      </div>
    </div>
  </mat-card>
</div>
<!--container -->
