<div class="container p-0">
  <mat-card [ngClass]="themeClass" class="p-0 mat-elevation-z6">
    <div class="row m-0 bg-theme-secondary">
      <div class="col">

        <div class="row m-0">
          <div class="col-md-4 col-xs-12 text-center mt-4 mb-1">
          </div>
          <div class="col-md-4 col-xs-12 justify-content-center">
            <h2 class="white-text text-center mt-4 mb-1">TITLE</h2>
          </div>
          <div class="col-md-4 col-xs-12"></div>
        </div>

        <div class="row p-4 m-0 justify-content-center white-text bg-admin">
          <input class="exp-input" #filter placeholder="filter content">
        </div>

        <!-- <div class="row m-0">
          <div class="col">
            <hr>
          </div>
        </div> -->

        <!-- <div class="row m-0 pb-3">
          <div class="col-4 text-center">
            <button mat-button class="white-text">BUTTON 1</button>
          </div>
          <div class="col-4 text-center">
            <button mat-button class="white-text">BUTTON 2</button>
          </div>
          <div class="col-4 text-center">
            <button mat-button class="white-text">BUTTON 3</button>
          </div>
        </div> -->
      </div>
    </div>

    <div class="row m-0">
      <div class="col m-0 p-0">

        <div class="classcontainer">

          <div class="classBound" (click)="onClickLecture(i)" 
          *ngFor="let class of classList; let i = index"> 
            
          <div *ngIf="lectureArray.length > 0">

          <mat-card class="text-center">
              
            <div class="row m-0">
                <div class="col-4 m-0 p-0 text-left">
                  <mat-card-title>LEC {{ lectureArray[i].lectnum }}</mat-card-title>
                </div>
                <div class="col-4 m-0 p-0">
                 <mat-card-title>{{ lectureArray[i].instructor }}</mat-card-title>                  
                </div>
                <div class="col-4 m-0 p-0 text-right">
                  <mat-card-subtitle>Length: {{ lectureArray[i].length }}</mat-card-subtitle>
                </div>
            </div>

            <div class="row m-0 text-left">
                <mat-card-subtitle>Posted on {{ lectureArray[i].postTime }}</mat-card-subtitle>
            </div>

            <div class="row m-0 text-left">
                <mat-card-content>{{ lectureArray[i].description }}</mat-card-content>
            </div>

          </mat-card>


          </div>

            <div [ngClass]="{selected: selectList[i] === true}" class="hiddenLayer row m-0">
              <div class="col-4 m-0 p-0"></div>
              <div class="col-4 m-0 p-0">
                <div class="buttonContainer row mt-5 text-center">
                        <a href="../../../../assets/VR/index.html">
                          <button mat-fab>
                            <mat-icon>play_arrow</mat-icon>
                          </button>
                        </a>
                        
                </div>
              </div>
              <div class="col-4 m-0 p-0"></div>
            </div>

          </div> <!--classBond -->
        </div>  <!--classcontainer -->

      </div>
    </div>
  </mat-card>
</div> <!--container -->