.input-style-cancel {
    border-bottom: none !important;
}

input[type=text].input-style-cancel {
    border-bottom: none !important;
    box-shadow: none !important;
}

input[type=password].input-style-cancel {
    border-bottom: none !important;
    box-shadow: none !important;
}

.dialog {
    max-width: 90vw;
    width: 500px;
}