<div class="row m-0 p-0" *ngIf="timelineItems.length!==0">
  <div class="col m-0 p-0">
    <mat-card class="diffused-shadow">
      <mat-card-title>
        <h2 class="text-center" style="font-weight: 400">Step 4: Review Timeline</h2>
      </mat-card-title>
      <mat-card-content>
        <mat-vertical-stepper>
          <mat-step *ngFor="let timelineItem of timelineItems; let i = index">
            <ng-template matStepLabel>{{timelineItem.type | titlecase}}: {{timelineItem.name}}</ng-template>
            <div *ngIf="timelineItem.type=='quiz' && (timelineChildren[i] | async) as timelineChild">
              <mat-list>
                <mat-list-item>
                  <mat-icon mat-list-icon>format_list_numbered</mat-icon>
                  <h4 mat-line>{{timelineChild.answers.length}} choices</h4>
                </mat-list-item>

                <mat-list-item>
                  <mat-icon mat-list-icon>check</mat-icon>
                  <h4 mat-line>{{timelineChild.answers[timelineChild.correct]}}</h4>
                  <p mat-line>Correct Answer</p>
                </mat-list-item>

                <mat-list-item>
                  <mat-icon mat-list-icon>access_time</mat-icon>
                  <h4 mat-line>Start time: {{Math.floor(timelineItem.eventTime/60)}}m {{(timelineItem.eventTime%60)}}s</h4>
                </mat-list-item>

                <mat-list-item>
                  <mat-icon mat-list-icon>timer</mat-icon>
                  <h4 mat-line>Duration: {{timelineChild.time}}s</h4>
                </mat-list-item>
              </mat-list>
            </div>

            <div *ngIf="timelineItem.type=='video'">
              <mat-list>
                <mat-list-item>
                  <mat-icon mat-list-icon>timer</mat-icon>
                  <h4 mat-line>Duration: {{Math.floor(timelineItem.videoTime/60)}}m {{Math.floor(timelineItem.videoTime%60)}}s</h4>
                </mat-list-item>

                <mat-list-item>
                  <mat-icon mat-list-icon>videocam</mat-icon>
                  <h4 mat-line>
                    <a class="blue-text" (click)="redirect(timelineItem.resource)">{{timelineItem.resource}}
                      <mat-icon class="icon-sm">launch</mat-icon>
                    </a>
                  </h4>
                  <p mat-line>Video URL</p>
                </mat-list-item>
              </mat-list>
            </div>
          </mat-step>
        </mat-vertical-stepper>
      </mat-card-content>
    </mat-card>
  </div>
</div>