<div class="row m-0 p-0">
  <div class="col m-0 p-0">
    <mat-card class="">
      <mat-card-title>
        <h2 class="text-center" style="font-weight: 400">Step 4: Review Timeline</h2>
      </mat-card-title>
      <mat-card-content>
        <mat-vertical-stepper>
          <mat-step>
            <ng-template matStepLabel>...</ng-template>
            content 1
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>...</ng-template>
            content 2
          </mat-step>
        </mat-vertical-stepper>
      </mat-card-content>
    </mat-card>
  </div>
</div>