<div class="row m-0 p-0" *ngIf="timelineItems.length!==0">
  <div class="col m-0 p-0">
    <mat-card class="diffused-shadow">
      <mat-card-title>
        <h2 class="text-center" style="font-weight: 400">Step 5: Review Timeline</h2>
      </mat-card-title>
      <mat-card-content>
        <mat-vertical-stepper>
          <mat-step *ngFor="let timelineItem of timelineItems; let i = index">
            <ng-template matStepLabel>{{timelineItem.type | titlecase}}: {{timelineItem.name}}</ng-template>
            <div *ngIf="timelineItem.type=='quiz' && (timelineChildren[i] | async) as timelineChild">
              <mat-list>
                <mat-list-item>
                  <mat-icon mat-list-icon>format_list_numbered</mat-icon>
                  <h4 mat-line>{{timelineChild.answers.length}} choices</h4>
                </mat-list-item>

                <mat-list-item>
                  <mat-icon mat-list-icon>check</mat-icon>
                  <h4 mat-line>{{timelineChild.answers[timelineChild.correct]}}</h4>
                  <p mat-line>Correct Answer</p>
                </mat-list-item>

                <mat-list-item>
                  <mat-icon mat-list-icon>access_time</mat-icon>
                  <h4 mat-line>Start time: {{Math.floor(timelineItem.eventTime/60)}}m {{(timelineItem.eventTime%60)}}s</h4>
                </mat-list-item>

                <mat-list-item>
                  <mat-icon mat-list-icon>timer</mat-icon>
                  <h4 mat-line>Duration: {{timelineChild.time}}s</h4>
                </mat-list-item>

                <mat-list-item>
                  <mat-icon mat-list-icon>border_color</mat-icon>
                  <button mat-button color="accent" (click)="editQuiz(timelineItem, timelineChild)">
                    <mat-icon>edit</mat-icon>
                    <span>Edit Quiz</span>
                  </button>
                </mat-list-item>

                <mat-list-item>
                  <mat-icon mat-list-icon>close</mat-icon>
                  <button mat-button color="danger" (click)="deleteQuiz(timelineItem, timelineChild)">
                    <mat-icon>delete</mat-icon>
                    <span>Delete Quiz</span>
                  </button>
                </mat-list-item>
              </mat-list>
            </div>

            <div *ngIf="timelineItem.type=='video'">
              <mat-list>
                <mat-list-item>
                  <mat-icon mat-list-icon>timer</mat-icon>
                  <h4 mat-line>Duration: {{Math.floor(timelineItem.videoTime/60)}}m {{Math.floor(timelineItem.videoTime%60)}}s</h4>
                </mat-list-item>

                <mat-list-item>
                  <mat-icon mat-list-icon>videocam</mat-icon>
                  <h4 mat-line>
                    <a class="blue-text" (click)="redirect(timelineItem.resource)">{{timelineItem.resource}}
                      <mat-icon class="icon-sm">launch</mat-icon>
                    </a>
                  </h4>
                  <p mat-line>Video URL</p>
                </mat-list-item>
              </mat-list>
            </div>

            <div *ngIf="timelineItem.type=='model'">
              <mat-list>
                <mat-list-item>
                  <mat-icon mat-list-icon>timer</mat-icon>
                  <h4 mat-line>{{Math.floor(timelineItem.eventTime/60)}}m {{Math.floor(timelineItem.eventTime%60)}}s</h4>
                  <p mat-line>Start Time</p>
                </mat-list-item>

                <mat-list-item>
                  <mat-icon mat-list-icon>link</mat-icon>
                  <h4 mat-line>{{timelineItem.resource}}</h4>
                  <p mat-line>Resource</p>
                </mat-list-item>

                <mat-list-item>
                  <mat-icon mat-list-icon>rotate_right</mat-icon>
                  <h4 mat-line>{{timelineItem.angleX}}</h4>
                  <p mat-line>Angle X</p>
                </mat-list-item>

                <mat-list-item>
                  <mat-icon mat-list-icon>rotate_right</mat-icon>
                  <h4 mat-line>{{timelineItem.angleY}}</h4>
                  <p mat-line>Angle Y</p>
                </mat-list-item>

                <mat-list-item>
                  <mat-icon mat-list-icon>rotate_right</mat-icon>
                  <h4 mat-line>{{timelineItem.angleZ}}</h4>
                  <p mat-line>Angle Z</p>
                </mat-list-item>

                <mat-list-item>
                  <mat-icon mat-list-icon>style</mat-icon>
                  <h4 mat-line>{{timelineItem.offsetX}}</h4>
                  <p mat-line>Offset X</p>
                </mat-list-item>

                <mat-list-item>
                  <mat-icon mat-list-icon>style</mat-icon>
                  <h4 mat-line>{{timelineItem.offsetY}}</h4>
                  <p mat-line>Offset Y</p>
                </mat-list-item>

                <mat-list-item>
                  <mat-icon mat-list-icon>style</mat-icon>
                  <h4 mat-line>{{timelineItem.offsetZ}}</h4>
                  <p mat-line>Offset Z</p>
                </mat-list-item>

                <mat-list-item>
                  <mat-icon mat-list-icon>3d_rotation</mat-icon>
                  <h4 mat-line>{{timelineItem.rotateAxis}}</h4>
                  <p mat-line>Rotation Axis</p>
                </mat-list-item>

                <mat-list-item>
                  <mat-icon mat-list-icon>rotate_90_degrees_ccw</mat-icon>
                  <h4 mat-line *ngIf="timelineItem.rotate==1">Forward</h4>
                  <h4 mat-line *ngIf="timelineItem.rotate==0">None</h4>
                  <h4 mat-line *ngIf="timelineItem.rotate==-1">Backward</h4>
                  <p mat-line>Rotation Direction</p>
                </mat-list-item>
              </mat-list>
            </div>
          </mat-step>
        </mat-vertical-stepper>
      </mat-card-content>
    </mat-card>
  </div>
</div>