/* You can add global styles to this file, and also import other style files */

body {
    background-color: #EEEEEE;
}

button, a {
    text-decoration: none !important;
    outline: none !important;
}

.white-text {
    color: white !important;
}

.bg-light-grey {
    background-color: #EEEEEE;
}

.bg-green {
    background-color: #4CAF50;
}

.diffused-shadow {
    box-shadow: 0 1rem 8rem rgba( #000, .33 ) !important;
}

.input-style-cancel {
    border-bottom: none;
}

input[type=text].input-style-cancel {
    border-bottom: none !important;
    box-shadow: none !important;
}

input[type=password].input-style-cancel {
    border-bottom: none !important;
    box-shadow: none !important;
}