.full-height {
    height: calc(100vh - 55px);
}

.bg-light-grey {
    background-color: #EEEEEE;
}

.font-400 {
    font-weight: 400;
}

.upload-card {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ab47bc+0,7e57c2+100 */
    background: #ab47bc;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ab47bc 0%, #7e57c2 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ab47bc 0%, #7e57c2 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ab47bc 0%, #7e57c2 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ab47bc', endColorstr='#7e57c2', GradientType=0);
    /* IE6-9 */
}

.video-upload-footer {
    background: url('../../../assets/img/vyden-waves.png');
    height: 50px;
    width: 100%;
    background-size: contain;
    background-repeat: repeat-x;
    background-position: center bottom;
}

.video-upload-content {
    height: 300px;
}

.file-outline {
    border: 2px dashed #EEEEEE;
    border-radius: 1em;
}

// https://philipwalton.github.io/solved-by-flexbox/demos/vertical-centering/
.fill {
    flex: 1;
}

.quiz-input-row {
    width: 75%;
}

.row-centered {
    float: none;
    margin: 0 auto;
}

.form-label {
    font-weight: 500;
    font-size: 16px;
}

.quiz-option-input {
    width: 600px;
}

.tick-container {
    width: 100%;
    max-width: 200px;

}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .full-height-mobile {
        height: calc(100vh - 55px);
    }
    .quiz-input-row {
        width: 100%;
    }
    .quiz-option-input {
        width: 200px;
    }
    mat-card {
        border-radius: 0;
        box-shadow: none !important;
    }
}