<app-navbar></app-navbar>

<div class="container purple-theme p-0">

  <!-- Spacer on desktop, invisible on mobile -->
  <div class="row p-0 m-0 mt-4 mb-4" fxHide="false" fxHide.lt-sm></div>

  <div class="row m-0">
    <div class="col m-0 p-0">
      <mat-card class="upload-card diffused-shadow">
        <mat-card-title>
          <h2 class="white-text text-center" style="font-weight: 400">Step 1: Upload a video</h2>
        </mat-card-title>
        <mat-card-content class="video-upload-content d-flex flex-column mt-4 pb-3 mb-4 pt-3">
          <div class="row">
            <div class="col"></div>
          </div>
          <div *ngIf="showDropBox" appFileDrop (filesDropped)="handleDrop($event)" (filesHovered)="dropzoneState($event)" [ngClass]="{'drop-active': dropzoneActive}"
            class="row fill d-flex file-outline m-4">
            <div class="col pt-4 pb-4 text-center align-self-center pointer-events-none">
              <h3 class="white-text t-all-250" style="font-weight: 400">DROP VIDEO FILE</h3>
            </div>
          </div>
          <div class="row justify-content-center white-theme" *ngIf="showUploadProgress">
            <mat-progress-spinner color="accent" [mode]="uploadProgress==100?'indeterminate':'determinate'" [value]="uploadProgress">
            </mat-progress-spinner>

            <h3 class="text-center mt-4 white-text font-weight-bold w-100">{{uploadProgress}}%</h3>
          </div>
          <div class="row" *ngIf="videoActive">
            <div class="col white-text text-center">
              <mat-icon class="icon-xxl">check</mat-icon>
            </div>
          </div>
          <div class="row" *ngIf="videoActive">
            <div class="col white-text">
              <h2 class="text-center">{{videoName}}</h2>
            </div>
          </div>
          <div class="row mt-3" *ngIf="videoActive">
            <div class="col white-text text-center">
              <h4>{{Math.floor(lectureEndTime/60)}}m {{Math.floor(lectureEndTime%60)}}s</h4>
            </div>
          </div>
          <div class="row" *ngIf="showDropBox">
            <div class="col text-center mt-2">
              <button mat-raised-button (click)="inputFile.click()">
                <mat-icon>file_upload</mat-icon>
                <span>UPLOAD</span>
              </button>

              <input #inputFile type="file" accept=".mp4,.webm" [style.display]="'none'" (change)="onUpload($event)">
            </div>
          </div>
        </mat-card-content>
        <mat-card-footer>
          <div class="video-upload-footer"></div>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>

  <!-- Spacer on desktop, invisible on mobile -->
  <div class="row p-0 m-0 mt-4 mb-4" fxHide="false" fxHide.lt-sm></div>

  <div class="row m-0 mt-">
    <div class="col m-0 p-0">
      <mat-card class="upload-card diffused-shadow">
        <mat-card-title>
          <h2 class="white-text text-center" style="font-weight: 400">Step 2: Upload Subtitles (Optional)</h2>
        </mat-card-title>
        <mat-card-content class="video-upload-content d-flex flex-column mt-4 pb-3 mb-4 pt-3">
          <div class="row">
            <div class="col"></div>
          </div>
          <div *ngIf="showSubtitleDropBox" appFileDrop (filesDropped)="handleSubtitleDrop($event)"
            (filesHovered)="dropzoneSubtitleState($event)" [ngClass]="{'drop-active': dropzoneSubtitleActive}"
            class="row fill d-flex file-outline m-4">
            <div class="col pt-4 pb-4 text-center align-self-center pointer-events-none">
              <h3 class="white-text t-all-250" style="font-weight: 400">DROP SRT FILE</h3>
            </div>
          </div>
          <div class="row justify-content-center white-theme" *ngIf="showSubtitleUploadProgress">
            <mat-progress-spinner color="accent" [mode]="subtitleUploadProgress==100?'indeterminate':'determinate'" [value]="subtitleUploadProgress">
            </mat-progress-spinner>

            <h3 class="text-center mt-4 white-text font-weight-bold w-100">{{subtitleUploadProgress}}%</h3>
          </div>
          <div class="row" *ngIf="subtitleActive">
            <div class="col white-text text-center">
              <mat-icon class="icon-xxl">check</mat-icon>
            </div>
          </div>
          <div class="row" *ngIf="subtitleActive">
            <div class="col white-text">
              <h2 class="text-center">{{subtitleName}}</h2>
            </div>
          </div>
          <div class="row" *ngIf="showSubtitleDropBox">
            <div class="col text-center mt-2">
              <button mat-raised-button (click)="inputFile.click()">
                <mat-icon>file_upload</mat-icon>
                <span>UPLOAD</span>
              </button>

              <input #inputFile type="file" accept=".srt" [style.display]="'none'" (change)="onUploadSubtitle($event)">
            </div>
          </div>
        </mat-card-content>
        <mat-card-footer>
          <div class="video-upload-footer"></div>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>

  <!-- Spacer on desktop, invisible on mobile -->
  <div class="row p-0 m-0 mt-4 mb-4" fxHide="false" fxHide.lt-sm></div>

  <div class="row m-0">
    <div class="col m-0 p-0">
      <mat-card class="title-card diffused-shadow">
        <mat-card-title>
          <h2 class="text-center" style="font-weight: 400">Step 2: Lecture Information</h2>
        </mat-card-title>

        <mat-card-content class="text-center">
          <div class="row mt-4">
            <div class="col text-center">
              <span class="form-label">Lecture Name:</span>
            </div>
          </div>

          <div class="row m-0 p-0">
            <div class="col m-0 p-0">
              <mat-form-field class="lecture-title-input w-100" color="accent">
                <input matInput name="lectureName" [formControl]="basicFormControl.controls['lectureName']" [errorStateMatcher]="matcher"
                  [(ngModel)]="lectureName">
                <mat-error *ngIf="basicFormControl.controls['lectureName'].hasError('required')">
                  Field is
                  <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row mt-4">
            <div class="col text-center">
              <span class="form-label">Lecture Description:</span>
            </div>
          </div>

          <div class="row m-0 p-0">
            <div class="col m-0 p-0">
              <mat-form-field class="w-100 description-textarea" color="accent">
                <textarea matInput matTextareaAutosize matAutosizeMinRows="2" placeholder="description" [formControl]="basicFormControl.controls['lectureDescription']"
                  [errorStateMatcher]="matcher" [(ngModel)]="lectureDescription" name="lectureDescription"></textarea>
                <mat-error *ngIf="basicFormControl.controls['lectureDescription'].hasError('required')">
                  Field is
                  <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row mt-4">
            <div class="col text-center">
              <span class="form-label">Lecture Subtitles:</span>
            </div>
          </div>

          <div class="row mt-4">
            <div class="col text-center">
              <span class="form-label">Skysphere:</span>
            </div>
          </div>

          <div class="row m-0 p-0">
            <div class="col m-0 p-0">
              <mat-radio-group class="skybox-radio-group w-100" [(ngModel)]="skyboxType">
                <div class="row m-0 p-0">
                  <div class="col-1 m-0 p-0 align-self-center" style="width: 50px">
                    <mat-radio-button value="image"></mat-radio-button>
                  </div>
                  <div class="col p-0 m-0 align-self-center">
                    <mat-form-field class="w-100">
                      <input matInput placeholder="Skybox URL" [formControl]="basicFormControl.controls['skyboxUrl']" [errorStateMatcher]="matcher"
                        [disableControl]="skyboxType!='image'" [(ngModel)]="skyboxUrl">
                      <mat-error *ngIf="basicFormControl.controls['skyboxUrl'].hasError('required')">
                        Field is
                        <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>

                <div class="row m-0 p-0">
                  <div class="col-1 m-0 p-0 align-self-center" style="width: 50px">
                    <mat-radio-button value="color"></mat-radio-button>
                  </div>
                  <div class="col p-0 m-0 align-self-center">
                    <mat-form-field class="w-100">
                      <span matPrefix [ngClass]="{'grey-text': skyboxType!='color'}"># &nbsp;</span>
                      <input matInput placeholder="Hex code" [formControl]="basicFormControl.controls['skyboxColor']" [errorStateMatcher]="matcher"
                        [disableControl]="skyboxType!='color'" [(ngModel)]="skyboxColor">
                      <mat-error *ngIf="basicFormControl.controls['skyboxColor'].hasError('required')">
                        Field is
                        <strong>required</strong>
                      </mat-error>
                      <div matSuffix class="color-indicator" [style.background-color]="skyboxType=='color'?'#'+skyboxColor : '#EEEEEE'"></div>
                    </mat-form-field>
                  </div>
                </div>
              </mat-radio-group>
            </div>
          </div>

        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <!-- Spacer on desktop, invisible on mobile -->
  <div *ngIf="true || videoActive" class="row p-0 m-0 mt-4 mb-4" fxHide="false" fxHide.lt-sm></div>

  <app-quiz *ngIf="true || videoActive" [lectureTime]="lectureEndTime"></app-quiz>

  <!-- Spacer on desktop, invisible on mobile -->
  <div *ngIf="videoActive" class="row p-0 m-0 mt-4 mb-4" fxHide="false" fxHide.lt-sm></div>

  <app-model-editor *ngIf="videoActive" [lectureTime]="lectureEndTime"></app-model-editor>

  <!-- Spacer on desktop, invisible on mobile -->
  <div *ngIf="videoActive" class="row p-0 m-0 mt-4 mb-4" fxHide="false" fxHide.lt-sm></div>

  <app-timeline *ngIf="videoActive" [lectureTime]="lectureEndTime"></app-timeline>

  <!-- Spacer on desktop, invisible on mobile -->
  <div *ngIf="videoActive" class="row p-0 m-0 mt-4 mb-4" fxHide="false" fxHide.lt-sm></div>

  <div *ngIf="videoActive" class="row m-0 p-0">
    <div class="col m-0 p-0">
      <mat-card class="diffused-shadow">
        <mat-card-title>
          <h2 class="text-center" style="font-weight: 400">Step 6: Publish Lecture</h2>
        </mat-card-title>

        <mat-card-content class="text-center pt-4 pb-4">
          <button *ngIf="!showPublishProgress" mat-raised-button color="primary" (click)="publishLecture()">
            <mat-icon>done_all</mat-icon>
            <span>Publish</span>
          </button>
        </mat-card-content>

        <mat-card-footer>
          <mat-progress-bar *ngIf="showPublishProgress" color="accent" class="w-100" mode='indeterminate'></mat-progress-bar>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>

  <!-- Spacer on desktop, invisible on mobile -->
  <div class="row p-0 m-0 mt-4 mb-4" fxHide="false" fxHide.lt-sm></div>
</div>