<app-navbar></app-navbar>

<div class="container p-0">
  <div class="row mt-4 m-0 p-0" fxHide="false" fxHide.lt-sm></div>

  <div class="row m-0">
    <div class="col m-0 p-0">
      <mat-card class="upload-card">
        <mat-card-title>
          <h2 class="white-text text-center font-weight-bold">Step 1: Upload a video</h2>
        </mat-card-title>
        <mat-card-content class="video-upload-content">
          <div class="Aligner">
            <div class="Aligner-item Aligner-item--top"></div>
            <div class="Aligner-item">

            </div>
            <div class="Aligner-item Aligner-item--bottom">
              <button mat-raised-button>
                <mat-icon>file_upload</mat-icon>
                <span>upload</span>
              </button>
            </div>
          </div>
        </mat-card-content>
        <mat-card-footer>
          <div class="video-upload-footer"></div>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>